<!DOCTYPE html>
<html lang="en">

<head>
    <title>Item-Bsed Filteringy</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="header" style="padding-bottom: 20px">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://127.0.0.1:5000">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Item-Based Filtering</h3>
        </div>

        <div class="jumbotron" style="text-align: center">
            <h2>Hi Toby</h2>
            <h2>The best matches according to the movies you saw.</h2>

        </div>


        <footer class="footer">
            <p>&copy; Chris Gkalfas 2018</p>
        </footer>

    </div>
</body>

